In [1]:
# pandas
# series     1차원
# DataFrame  2차원

In [15]:
import pandas as pd
import numpy as np
#series
s = pd.Series([1,2,3,4,5,6,7,8,9])
print (type(s))
print (s.index)
print(s.dtype)
print(s)

<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=9, step=1)
int64
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [17]:
s.index = ['A','B','C','D','E','F','G','H','I']
print(s)

A    1
B    2
C    3
D    4
E    5
F    6
G    7
H    8
I    9
dtype: int64

In [33]:
s = pd.Series([1,2,3,4,5,6,7,8,9],['A','B','C','D','E','F','G','H','I'])
print(s)
print(s.index)
print(s.values)
print(s[0])
print(s['A'])
print(s.A)
print(s[0:5])
print(s['A':'D'])

A    1
B    2
C    3
D    4
E    5
F    6
G    7
H    8
I    9
dtype: int64
Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'], dtype='object')
[1 2 3 4 5 6 7 8 9]
1
1
1
A    1
B    2
C    3
D    4
E    5
dtype: int64
A    1
B    2
C    3
D    4
dtype: int64

C:\Users\rmaqu\AppData\Local\Temp\ipykernel_21784\3219112302.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [39]:
# Dictionary (Map, JSON)-> Series

d = {'A' : 10 , 'D' : 20 , 'F':30, 'H':40}
print(type(d))
for key, value in d.items() :
    print (key, ":", value)
    print(d['A'])

#print(d.A)
#print(d[0:3])
#print(d['A' : 'F'])

s = pd.Series(d)
print(s.index)
print(s.values)
print(s['A'])
print(s.A)
print(s[0:3])
print(s['A' : 'F'])

<class 'dict'>
A : 10
10
D : 20
10
F : 30
10
H : 40
10
Index(['A', 'D', 'F', 'H'], dtype='object')
[10 20 30 40]
10
10
A    10
D    20
F    30
dtype: int64
A    10
D    20
F    30
dtype: int64

In [65]:
# DataFrame
# Dictionary -> DataFrame
d = {
    'name' : [ 'kim', 'lee', 'park', 'jung' ],
    'age' : [25, 30, 35, 20],
    'tel' : ['1111-2222', '2222-1111', '3333-1111', '2222-3333']
}
print(type(d))
print (d)

df = pd.DataFrame(d)   # 데이터 프레임
print (df)
print(df.index)
print(df.columns)
print(df.values)
df.index.name = 'Num'
df.columns.name = 'User'
print(df)

<class 'dict'>
{'name': ['kim', 'lee', 'park', 'jung'], 'age': [25, 30, 35, 20], 'tel': ['1111-2222', '2222-1111', '3333-1111', '2222-3333']}
   name  age        tel
0   kim   25  1111-2222
1   lee   30  2222-1111
2  park   35  3333-1111
3  jung   20  2222-3333
RangeIndex(start=0, stop=4, step=1)
Index(['name', 'age', 'tel'], dtype='object')
[['kim' 25 '1111-2222']
 ['lee' 30 '2222-1111']
 ['park' 35 '3333-1111']
 ['jung' 20 '2222-3333']]
User  name  age        tel
Num
0      kim   25  1111-2222
1      lee   30  2222-1111
2     park   35  3333-1111
3     jung   20  2222-3333

In [131]:
#Numpy -> DataFrame
n = np.array(
    [['kim', 20, '1111-2222'],
     ['lee',30,'2222-1111'],
     ['park', 35, '3333-2222'],
     ['jung',25,'3333-1111']])

print(type(n))
print (n)
df = pd.DataFrame(n)

df.columns = ['name', 'age', 'tel']    #행에 이름
df.index = ['A' , 'B', 'C', 'D']       #열에 이름

print(df)
print(df.index)
print(df.columns)

df = pd.DataFrame(n , columns = ['name', 'age', 'tel'], index = ['A','B','C','D'])
print(df)

print(df.describe())

print(df['name'])
print(df[['name', 'tel']])
print(df['name'], [2])
print(df['name'], ['C'])
print(df['name'].C)
print(df['name']['B' : 'D'])

<class 'numpy.ndarray'>
[['kim' '20' '1111-2222']
 ['lee' '30' '2222-1111']
 ['park' '35' '3333-2222']
 ['jung' '25' '3333-1111']]
   name age        tel
A   kim  20  1111-2222
B   lee  30  2222-1111
C  park  35  3333-2222
D  jung  25  3333-1111
Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['name', 'age', 'tel'], dtype='object')
   name age        tel
A   kim  20  1111-2222
B   lee  30  2222-1111
C  park  35  3333-2222
D  jung  25  3333-1111
       name age        tel
count     4   4          4
unique    4   4          4
top     kim  20  1111-2222
freq      1   1          1
A     kim
B     lee
C    park
D    jung
Name: name, dtype: object
   name        tel
A   kim  1111-2222
B   lee  2222-1111
C  park  3333-2222
D  jung  3333-1111
A     kim
B     lee
C    park
D    jung
Name: name, dtype: object [2]
A     kim
B     lee
C    park
D    jung
Name: name, dtype: object ['C']
park
B     lee
C    park
D    jung
Name: name, dtype: object

In [149]:
print (df[:][:])
print (df[:2][:1])
print(df[['name','tel']])
# print(df[[0,2]])  에러, 컬럼명이 있는 경우 숫자 X
# print(DF[0][0])

   name age        tel
A   kim  20  1111-2222
B   lee  30  2222-1111
C  park  35  3333-2222
D  jung  25  3333-1111
  name age        tel
A  kim  20  1111-2222
   name        tel
A   kim  1111-2222
B   lee  2222-1111
C  park  3333-2222
D  jung  3333-1111

In [169]:
print(df['name'])
df['address'] = ['서울', '수원', '인천','안산']
df['age'] ['A'] = 30
df['adult'] = df['age'].astype(np.int64) > 30

del (df['adult'])
print(df)

A     kim
B     lee
C    park
D    jung
Name: name, dtype: object
   name age        tel address
A   kim  30  1111-2222      서울
B   lee  30  2222-1111      수원
C  park  35  3333-2222      인천
D  jung  25  3333-1111      안산

C:\Users\rmaqu\AppData\Local\Temp\ipykernel_21784\1630803353.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['age'] ['A'] = 30
C:\Users\rmaqu\AppData\Local\Temp\ipykernel_21784\1630803353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] ['A'] = 30

In [178]:
#series 정렬

s = pd.Series([10,40,50,20,70,60], index=['a','b','f','d','g','u'])
s = s.sort_index()
s = s.sort_values()
print(s)

a    10
d    20
b    40
f    50
u    60
g    70
dtype: int64

In [180]:
#DataFrame 정렬

df = pd.DataFrame([[4,5,1,2], [20,10,40,30], ['B','C','D','A']])

In [182]:
print(df)
df = df.sort_index()
print

    0   1   2   3
0   4   5   1   2
1  20  10  40  30
2   B   C   D   A